{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Edit Appointment Details{% endblock %}</h3>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="username">Advisor</label>
      <input class="form-control" type="text" value="{{ appointment['username'] }}" aria-label="readonly input" readonly>
    </div>
    <div class="form-group">
      <label for="topic">Topic</label>
      <select class="form-control" name="topic" id="topic" required>
        <option value="">Select Topic</option>
        <option value="Enrollment" {% if appointment['topic'] == 'Enrollment' %}selected{% endif %}>Enrollment</option>
        <option value="Drop/Withdraw from Class(es)" {% if appointment['topic'] == 'Drop/Withdraw from Class(es)' %}selected{% endif %}>Drop/Withdraw from Class(es)</option>
        <option value="Other" {% if appointment['topic'] == 'Other' %}selected{% endif %}>Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="student">Student</label>
      <select class="form-control" name="student" id="student" required>
        <option selected>Select Student</option>
        {% for student in students %}
          <option value="{{ student.id }}" {% if student.id == appointment['student_id'] %} selected {% endif %}>
            {{ student.first_name }} {{ student.last_name }} {{ student.id }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" name="body" id="body" required>{{ request.form['body'] or appointment['body'] }}</textarea>
    </div>
    <div class="form-group">
      <label for="occurred">Date of Occurrence</label>
      <input type="date" class="form-control" name="occurred" id="occurred" value="{{ request.form['occurred'] or appointment['occurred'] }}" required>
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('apptLog.delete', id=appointment['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}

